# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Mobile
android/
ios/

# Env
.env
.env.local
